@import "./base";

.title-tip {
  text-align: left;
  margin-bottom: 10px;
  color: #606266;
  font-size: 14px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

// table info
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .title {
    color: #606266;
    font-size: 14px;
  }
}

.table-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.delete-btn-color {
  color: #f56c6c !important;
}

.table-more-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
